.title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1.5rem;
}

.latestTrend {
    display: grid;
    grid-template-rows: 70% 30%;

    .latest {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 1rem;
        padding-left: 1.7rem;

        .box {
            display: grid;
            grid-template-rows: auto auto;

            img {
                padding: 0rem;
                height: 15rem;
                width: 10rem;
                cursor: pointer;
            }

            span {
                font-size: 0.9rem;
            }
        }
    }

    .popular {
        padding-left: 1.5rem;
        .suggestion {
            font-weight: 500;
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }

        .tagBox {
            .tag {
                margin-bottom: 0.2rem;
                cursor: pointer;
            }
        }
    }
}