.main {
    // height: 110vh;
    width: 100vw;
    position: absolute;
    top: 115vh;
    background-color: rgb(231, 229, 229);
    background-color: rgb(255, 255, 255);

    .logo {
        position: sticky;
        top: 1%;
        left: 88%;
        height: 5rem;
        width: 8rem;
    }

    .searches {
        width: 30rem;
        height: 3rem;
    }

    .container {
        margin-left: 30rem;
        margin-right: 30rem;
        position: sticky;
        top: 4%;
    }

    form {
        color: #555;
        color: black;
        display: flex;
        padding: 2px;
        border: 1px solid currentColor;
        border-radius: 1rem;
        margin: 0 0 30px;
        background-color: white;
      }
      
      input[type="search"] {
        border: none;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 1.3rem;
        color: inherit;
        border: 1px solid transparent;
        border-radius: inherit;
      }
      
      input[type="search"]::placeholder {
        color: #bbb;
      }
      
      button[type="submit"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
      }
      
      button[type="submit"]:hover {
        opacity: 1;
      }
      
      button[type="submit"]:focus,
      input[type="search"]:focus {
        // box-shadow: 0 0 3px 0 #1183d6;
        // border-color: #1183d6;
        outline: none;
      }
      
      form.nosubmit {
       border: none;
       padding: 0;
      }
      
      input.nosubmit {
        // border: 1px solid #555;
        // width: 100%;
        padding: 9px 4px 9px 40px;
         background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
      }


      .boxes {
        margin: 3rem;
        margin-top: 3rem;
        padding: 1rem;

        .mainBox {
            display: grid;
            grid-template-columns: 22% 78%;
    
            .filters {
                // border: 2px solid black;

                .srchRes {
                    font-size: 2rem;
                    font-weight: 500;
                }

                .filter {
                    margin: 0.5rem;

                    .brandtitle {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                    .brands {
                        margin-top: 1.5rem;
                        .brandArrow {
                            height: 1rem;
                            width: 1rem;
                            margin-left: 15rem;
                            margin-top: -1.2rem;
                            cursor: pointer;
                            padding-top: -4rem;
                        }

                        .containers {
                            padding-top: 0.2rem;
                            margin-top: 0.8rem;
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 1rem;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                          }
                          
                          /* Hide the browser's default checkbox */
                          .containers input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }
                          
                          /* Create a custom checkbox */
                          .checkmark {
                            margin-top: 0.4rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 1.2rem;
                            width: 1.2rem;
                            background-color: #eee;
                            border: 1px solid black;
                          }
                          
                          /* On mouse-over, add a grey background color */
                          .containers:hover input ~ .checkmark {
                            background-color: #ccc;
                          }
                          
                          /* When the checkbox is checked, add a blue background */
                          .containers input:checked ~ .checkmark {
                            background-color: #2196F3;
                            background-color: black;
                          }
                          
                          /* Create the checkmark/indicator (hidden when not checked) */
                          .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                          }
                          
                          /* Show the checkmark when checked */
                          .containers input:checked ~ .checkmark:after {
                            display: block;
                          }
                          
                          /* Style the checkmark/indicator */
                          .containers .checkmark:after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                          }
                    }
                }
            }
    
            // .results {
            //     border: 2px solid black;
            // }
          }
      }
      
}
